.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
    margin: 40px auto; 
}
.box > div > a {
    text-decoration: none;
    color: black;
}
.box > div > a:hover {
    color: skyblue;
}

.box > div > a > img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px
}

.box > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}