.comment-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-section > textarea {
  border: none;
}

.comment-section > button {
  width: 15%;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
.comment-section > button:hover {
  font-weight: 600;
  color: #3f78e0;
}

.get-comment > div > p {
  font-weight: 600;
}

.commBox {
  padding: 15px;
  background-color: #f0f8fe;
  font-size: 16px;
  border-radius: 10px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .comment-section > button {
    width: 46%;
  }
}
